---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Connectics SAS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Aviv - Citofonía',
        href: 'https://www.aviv.homes/',
        target: '_blank',
        icon: 'tabler:link',
      },
      { text: 'Productos', href: '/productos' },
    ]}
  >
    <Fragment slot="title">
      Software a medida para llevar a
      <span class="text-accent dark:text-white highlight"> tu empresa</span> al siguiente nivel
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-balance">
        En<span class="font-semibold"> Connectics </span>diseñamos software personalizado para cubrir las necesidades
        específicas de tu organización.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Productos"
    title="¡Conoce nuestros productos!"
    items={[
      {
        title: 'Aviv',
        description:
          'AVIV es el software de gestión para propiedades horizontales, que facilita la administración eficiente de los conjuntos, ayudando a gestionar la información de residentes y sus necesidades.',
        icon: 'tabler:home-cog',
      },
      {
        title: 'Automailtions',
        description:
          'Automailtions permite enviar correos electrónicos masivos desde Google Sheets, garantizando la seguridad de tu información y con plantillas personalizadas.',
        icon: 'tabler:mail-forward',
      },
      {
        title: 'Software a la medida',
        description:
          'Creamos soluciones de software totalmente personalizadas para empresas de diversos sectores, adaptándonos a las necesidades específicas de cada organización.',
        icon: 'tabler:crane',
      },
      {
        title: 'Auditoría y Consultoría',
        description:
          'Ofrecemos auditoría y consultoría de software para identificar oportunidades de mejora, evaluar la seguridad y optimizar el rendimiento de las soluciones tecnológicas en tu empresa.',
        icon: 'tabler:zoom-code',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Aviv"
    title="¡Una plataforma de gestión de propiedades horizontales y verticales!"
    items={[
      {
        title: 'Un software moderno y veloz',
        description:
          'Uno de los mayores beneficios de AVIV es su velocidad y su diseño moderno.',
      },
      {
        title: 'Citofonia Web',
        description:
          'Una de las mayores herramientas que proporciona AVIV es la facilidad de poder realizar llamadas mediante su citofonia.',
      },
      {
        title: 'Compatibilidad de dispositivos',
        description:
          'AVIV se construyó pensando en que su aplicación sea compatible con todos los dispositivos, desde smartphones hasta tabletas y computadoras.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Un software moderno y veloz</h3>
      Sí deseas que tu propiedad horizontal tenga un sistema de gestión eficiente y fácil de usar, AVIV es tu solución.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Minuta virtual',
        description: `Con AVIV podrás llevar el registro de todo lo que sucede en tu propiedad horizontal fácilmente y de forma segura.`,
      },
      {
        title: 'Comunicación interna',
        description:
          'Proporcionamos herramientas bastante robustas para que los residentes, vigilantes y administradores tengan una comunicación eficaz y rapida.',
      },
      {
        title: 'Seguridad',
        description:
          "AVIV fue desarrollado con la seguridad en mente, para que tus datos y información sean seguros y protegidos.",
      },
      {
        title: 'Gestión de propiedades',
        description:
          'Nuestra plataforma AVIV fue pensada para llevar la gestión de propiedades horizontales a otro nivel, permitiendo a los propietarios y gestores de propiedades centralizar todo lo que ocurre en sus propiedades.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Funcionalidades pensadas para ti.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="¿Cómo empezar a usar nuestra plataforma Aviv?"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Comunicación</span>',
        description:
          "Sí estas interesado en empezar a usar nuestra plataforma; escribenos al siguiente correo electrónico para que te contactemos <strong>info@connectics.co</strong> o a nuestro número celular <strong>(+57) 313 3757922</strong>.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Acceso a la plataforma</span>',
        description:
          "Te proporcionaremos acceso a nuestra plataforma, con el fin de que puedas comenzar a utilizarla. Una vez que te hayas registrado, podrás acceder a la plataforma mediante tu correo electrónico.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Configuración</span>',
        description:
          'Cuando obtengas el acceso a Aviv, podrás configurar todas las propiedades horizontales y asignar los usuarios que desees. Esto incluye la asignación de roles y permisos.',
        icon: 'tabler:paint',
      },
      {
        title: '¡Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestros principales servicios"
    subtitle="Proporcionamos servicios de software especificados para el sector inmobiliario cumpliendo con los requisitos de nuestros clientes."
    tagline="Servicios"
    items={[
      {
        title: 'Correos',
        description: "Envío de correos masivos desde Google Sheets, garantizando la seguridad de tu información y con plantillas personalizadas.",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Comunicación',
        description:
          "¡Proporcionamos herramientas para la comunicación fácil y rapida!",
        icon: 'flat-color-icons:collaboration',
      },
      {
        title: 'Comprobación',
        description:
          'Todos nuestros productos se encuentran probados exahustivamente para su fiabilidad y seguridad.',
        icon: 'flat-color-icons:approval',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget *******************
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
  -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clientes', amount: '+100' },
      { title: 'Usuarios', amount: '+700' },
      { title: 'Experiencia', amount: '+5 años' }
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contacto',
        href: '/contacto',
        target: '_blank',
        icon: 'tabler:send',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">¿Te interesa nuestros servicios?</span>
    </Fragment>

    <Fragment slot="subtitle">
      ¡Contactános para transformar tu forma de ver tu mundo!
    </Fragment>
  </CallToAction>
</Layout>
